
html, body, :global(#root){
  width: 80%;
  height: 80%;
  margin: auto auto;
}

.center {
  text-align: center !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lineShowText {
  text-align: center !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.demo {
  border-radius: 50%;
  background-color: pink;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  text-align: center;
}

@-webkit-keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0.1;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}

@keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0.1;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}

.echartsRadar{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 400px;
}
.echartsPie{
  display: flex;
  justify-content: center;
  height: 280px;
}